Django>=1.8,<1.9
django-bower>=5.0,<5.1
dj-database-url>=0.3,<0.4
django-debug-toolbar>=1.3,<1.4
django-markdown2>=0.2,<0.3
grunt-django>=0.2,<0.3
gunicorn
mysql-python
raven
sqlparse>=0.1,<0.2
unicodecsv>=0.13,<0.14
xlrd>=0.9,<1.0
