body {
	background-color: $clr-blue-light;
	color: #2c4f52;
	font-family: "kepler-std-extended", georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #2c4f52;
}
p{
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
	color: #8fba3e;
}
a:hover, a:focus {
	color: #568c49;
}

.alpha {
	font-family: $font-serif;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}
.beta {
	font-family: $font-sans;
	font-weight: 200;
}
.gamma {

}
.delta {

}
.epsilon {

}
.zeta {

}



.top-bar-section ul li.logo:hover>a {
	background: inherit;
	background-color: inherit;
}
.logo h1 {
	background: url('../img/mpt-logo.png') center center no-repeat;
	display: block;
	text-indent: -9999em;
	width: 259px;
	height: 2.25em;
	position: relative;
	z-index: 200;
	margin: 0;
}
.top-bar-section ul.meta-nav li>a {
	text-transform: uppercase;
}
.top-bar-section ul li>a {
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}
.small-12 {
	min-width: 700px;
}

/* GENERAL - social media */
.twitter {
	background: url(../img/twitter.png) left top no-repeat;
}
.twitter.color {
	background: url(../img/twitter-color.png) left top no-repeat;	
}
.facebook{
	background: url(../img/facebook.png) left top no-repeat;
}
.facebook.button, .twitter.button{
	background-position: 10px center;
}
.button.twitter {
	background-color: #00aced;
}
.button.twitter:hover, .button.twitter:focus {
	background-color: #008cba;
}
.button.facebook {
	background-color: #3b5998;
}
.button.facebook:hover, .button.facebook:focus {
	background-color: #2f497e;
}
.social-share {
	li {
		list-style-type: none;
		display: inline-block;
	}
	a {
		display: block;
		text-indent: -9999em;
	}
}



.page-header {
	.row {
		background-color: $clr-green-base;
		height: 96px;
	}
	.social-share {
		float: right;
	}
	h2 {
		line-height: 2.3em;
	}
}
.mpt-content-area {
	float: left;
	// background-color: $clr-yellow-base; *** To Test floating
}
.page-content {
	padding: 30px 20px;
}
.aside-content-block {
	background-color: $clr-blue-base;
	padding: 20px;
	ul{
		list-style-type: none;
	}
}
.row{
  &.full-width{
		max-width: 100% !important;
		z-index: 1;
		position: absolute;
		padding-left: 300px;
		box-sizing: border-box;
	}
}
.mpt-side-nav {
	width: 300px;
	float: left;
	background-color: $clr-green-dark;
	z-index: 200;
	position: absolute;
	font-family: $font-sans;
	font-size: .8rem;
	ul {
		list-style-type: none;
		font-size: .8rem;
		text-transform: uppercase;
	}
	.tabs .tab-title {
		width: 50%;
		line-height: 1em;
		&:focus {
			outline: 0;
		}
		a {
			color: $clr-green-text;
			font-size: .8rem;
		}
		&.active a{
			color: white;
		}
	}
}
.tabs-content .content {
	padding: 0;
}
.accordion {
	margin-left: 0;
}
.side-nav.accordion {
	padding-top: 0;
	margin-left: 20px;
	.accordion-navigation {
		@include accordion-navigation($bg:$clr-green-dark, $hover-bg:rgba(0,0,0,0.025), $active-bg:inherit, $font-color:$clr-green-text, $padding:5px, $font-size:.8rem);
		&.active>.expand{
	  		background-position: right top;
			&:hover {
				background-position: right bottom;
			}
	  }
	  
	}
	.content {
		@include accordion-content($bg:inherit);
		padding-right: 0;
	}
	.accordion-navigation>a.expand {
		background: url('../img/expand-large.png') left top no-repeat;
		text-indent: -9999em;
		display: block;
		float: left;
		width: 22px;
		height: 22px;
		padding: 0;
		margin: 6px 6px 0 6px ;
		&:hover {
			background: url('../img/expand-large.png') left bottom no-repeat;
		}
		&.active {
			background-position: right top;
			&:hover {
				background-position: right bottom;
			}
		}
	}
	a.section {
		display: block;
	}
	.indicator-num {
		background: $clr-green-text;
		color: $clr-green-dark;
		font-weight: bold;
		font-size: 1rem;
		width: 25px;
		height: 25px;
		display: inline-block;
		text-align: center;
	}
}
.side-nav.accordion .accordion .accordion-navigation>a {
	color: $clr-text;
	&.expand {
		background: url('../img/expand-small.png') left top no-repeat;
		width: 15px;
		height: 15px;
		&:hover {
			background: url('../img/expand-small.png') left bottom no-repeat;
		}
		&.active {
			background-position: right top;
			&:hover {
				background-position: right bottom;
			}
		}
	}
}

.nav-indicators .search {
	input{
		box-shadow: none;
		background-color: inherit;
		border: 0;
		border-bottom: 2px solid white;
		margin: 0 10px 0 20px;
		width: 210px;
		display: inline-block;
		font-family: $font-serif;
		font-family: italic;
		color: $clr-green-text;
	}
	button {
		background: url('../img/search.png') center top no-repeat;
		width: 32px;
		height: 32px;
		margin: 0;
		padding: 0;
		top: 13px;
		&:hover {
			background-position: center bottom;
		}
	}
	::-webkit-input-placeholder {
	  color: $clr-green-text;
	  font-style: italic;
	}

	:-moz-placeholder {
	  /* Firefox 18- */
	  color: $clr-green-text;
	  font-style: italic; 
	}

	::-moz-placeholder {
	  /* Firefox 19+ */
	  color: $clr-green-text;
	  font-style: italic;
	}

	:-ms-input-placeholder {
	  color: $clr-green-text;
	  font-style: italic;
	}
}
.expand-all {
	background-color: $clr-green-base;
	padding: 8px 5px 8px 5px;
	display: block;
	line-height: .9rem;
	font-family: $font-sans;
	font-size: 0.8rem;
	text-transform: uppercase;
	text-align: center;
	color: $clr-green-text;
	margin: 20px;
	&:hover {
		color: #ffffff;
	}
	span {
		background: url('../img/expand-all.png') left top no-repeat;
		width: 18px;
		height: 15px;
		text-indent: -9999em;
		display: inline-block;
		margin-right: 5px;
	}
	&:hover span{
		background: url('../img/expand-all.png') left bottom no-repeat;
	}
	&.active span {
		background: url('../img/expand-all.png') right top no-repeat;
	}
	&.active:hover span{
		background: url('../img/expand-all.png') right bottom no-repeat;
	}
}
.nav-country {
	margin-top: 20px;
	a {
		color: $clr-green-text;
		display: block;
		line-height: 1.2rem;
		font-family: $font-sans;
		font-size: 0.8rem;
		padding: 5px;
	}
	a:hover {
		color: #ffffff;
		background-color: rgba(0,0,0,0.025);
	}
	
}
.meta-nav-indicators {

}
.mpt-side-nav .meta-nav-indicators {
	margin: 20px;
	background-color: $clr-green-base;
	padding: 20px;
	ul {
		margin: 0;
	}
	a {
		color: $clr-green-text;
	}
	a:hover {
		color: #ffffff;
	}
}
.partner-logos {
	margin: 20px;
	li {
		margin: 20px 0;
	}
}
.country-meta {
	margin-right: 85px;
	padding-right: .6%;

	h3 {
		float: left;
		line-height: 3.4rem;
	}
}
.country-score {
	.chart {
		display: block;
		height: 10px;
		background-color: $clr-blue-dark;
		position: relative;
		margin-top: 4px;
	}
	.count {
		display: none;
	}
	.index {
		top: 0;
		position: absolute;
		z-index: 5;
		display: block;
		height: 18px;
		margin-right: 85px;
		margin-top: -4px;
	}
	.ticks {
		top: 0;
		position: relative;
		z-index: 10;
		display: block;
		height: 18px;
		top: -4px;
		background: -webkit-gradient(linear, left top, right top, 
			color-stop(0%,rgba(255,255,255,0)), 
			color-stop(19.6%,rgba(255,255,255,0)), 
			color-stop(19.6%,rgba(255,255,255,1)), 
			color-stop(20.5%,rgba(255,255,255,1)), 
			color-stop(20.5%,rgba(255,255,255,0)), 
			color-stop(39.5%,rgba(255,255,255,0)), 
			color-stop(39.5%,rgba(255,255,255,1)), 
			color-stop(40.5%,rgba(255,255,255,1)), 
			color-stop(40.5%,rgba(255,255,255,0)),
			color-stop(59.5%,rgba(255,255,255,0)), 
			color-stop(59.5%,rgba(255,255,255,1)), 
			color-stop(60.5%,rgba(255,255,255,1)), 
			color-stop(60.5%,rgba(255,255,255,0)), 
			color-stop(79.5%,rgba(255,255,255,0)), 
			color-stop(79.5%,rgba(255,255,255,1)), 
			color-stop(80.4%,rgba(255,255,255,1)), 
			color-stop(80.4%,rgba(255,255,255,0)), 
			color-stop(100%,rgba(255,255,255,0))); 
		/* Chrome,Safari4+ */
	}
	.score {
		width: 85px;
		height: 83px;
		color: #ffffff;
		float: right;
		text-align: center;
		position: relative;
		font-family: $font-sans;
		dd{
			position: absolute;
			top: 0;
			text-align: center;
			width: 100%;
			font-size: 2.5rem;
		}
		dt {
			bottom: 0;
			position: absolute;
			width: 100%;
			text-transform: uppercase;
			font-weight: 200;
			font-size: .8rem;
		}
	}
	dl.score-breakdown {
		text-align: right;
		float: right;
		font-family: $font-sans;
		dt {
			float: left;
			clear: left;
			width: 100px;
			text-align: right;
			font-weight: normal;
			margin: 5px 0;
			line-height: 1.85rem;
		}
		dt:after {
			content: "";
		}
		dd {
			margin: 5px 0 5px 110px;
			padding: 0 0 0.5em 0;
			line-height: 1.85rem;
			padding: 0;
			color: #ffffff;
		}
		dd span{
			display: inline-block;
			width: 30px;
			text-align: center;
			&.one {
				background-color: $clr-chart-one;
			}
			&.two {
				background-color: $clr-chart-two;
			}
			&.three {
				background-color: $clr-chart-three;
			}
			&.four {
				background-color: $clr-chart-four;
			}
			&.five {
				background-color: $clr-chart-five;
			}	
		}
	}
}
.score, .index {

	.one & {
		background-color: $clr-chart-one;
	}
	.two & {
		background-color: $clr-chart-two;
	}
	.three & {
		background-color: $clr-chart-three;
	}
	.four & {
		background-color: $clr-chart-four;
	}
	.five & {
		background-color: $clr-chart-five;
	}
}
.page-content .tabs .tab-title {
	width: 50%;
	text-align: center;
	a {
		color: $clr-green-text;
	}
	&.active a{
		color: #ffffff;
	}
}


//  Mixin: accordion-navigation( $bg, $hover-bg, $active-bg, $padding, $active_class,  $font-color, $font-size, $font-family) {
//    @params $bg-color: [ color or string ]: Specify the background color for the navigation element
//    @params $hover-bg-color [ color or string ]: Specify the background color for the navigation element when hovered
//    @params $active-bg [ color or string ]: Specify the background color for the navigation element when clicked and not released.
//    @params $active_class [ string ]: Specify the class name used to keep track of which accordion tab should be visible
//    @params $font-color [ color or string ]: Color of the font for accordion
//    @params $font-size [ number ]: Specifiy the font-size of the text inside the navigation element
//    @params $font-family [ string ]: Specify the font family for the text of the navigation of the accorion





