/* Colors for MPT */

/* Primary blue shades */
$clr-blue-light: #f1f9fb;
$clr-blue-base: #e5f4f7;
$clr-blue-dark: #c5e4ea;


/* Accent colors */

/* Accent green shades */
$clr-green-light: ;
$clr-green-base: #abc737;
$clr-green-dark: #8fbb3e;

/* Accent yellow shades */
$clr-yellow-light: ;
$clr-yellow-base: #F8E40B;
$clr-yellow-dark: ;

/* Accent blue shades */
$clr-sec-blue-light: ;
$clr-sec-blue-base: #3D95AD;
$clr-sec-blue-dark: #6C9A9F;


/* Text */
$clr-text: #2c4f52; /* Main text color for site */
$clr-blue-text: ; /* For text on *** blue *** base/dark background */
$clr-green-text: #ecf5c6; /* For text on *** green *** base/dark background */
$clr-yellow-text: ; /* For text on *** yellow *** base/dark background */
$clr-sec-blue-text: #daf2f7; /* For text on *** secondary blue *** base/dark background */


/* Chart colors */
$clr-chart-green: #098d45;
$clr-chart-yellow: #f7e205;

$clr-chart-one: $clr-chart-yellow;
$clr-chart-two: mix($clr-chart-green, $clr-chart-yellow, 15%);
$clr-chart-three: mix($clr-chart-green, $clr-chart-yellow);
$clr-chart-four: mix($clr-chart-green, $clr-chart-yellow, 70%);
$clr-chart-five: $clr-chart-green;