body {
	background-color: #e5f4f7;
	color: #2c4f52;
	font-family: "kepler-std-extended", georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #2c4f52;
}
h2 {
	text-align: center;
	font-family: "kepler-std-extended", georgia, serif;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}
p{
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
	color: #8fba3e;
}
a:hover, a:focus {
	color: #568c49;
}

.logo, .logo h1 {
	background: url('../img/mpt-logo.png')center center no-repeat;
	display: block;
	text-indent: -9999em;
	width: 259px;
	height: 2.25em;
	position: relative;
	z-index: 200;
	margin: 0;
}
.top-bar-section ul.meta-nav li>a {
	text-transform: uppercase;
}
.mpt-side-nav {
	width: 300px;
	float: left;
	background-color: $clr-green-dark;
	z-index: 200;
	position: absolute;
	.tabs .tab-title {
		width: 50%;
	}
}
.page-header {
	.row {
		background-color: $clr-green-base;
	}
	.social-share {
		float: right;
		li {
			list-style-type: none;
			display: inline-block;
		}
	}
}
.mpt-content-area {
	float: left;
	// background-color: $clr-yellow-base; *** To Test floating
}
.row{
  &.full-width{
		max-width: 100% !important;
		z-index: 1;
		position: absolute;
		padding-left: 300px;
		box-sizing: border-box;
	}
}
.side-nav li {
	list-style-type: none;
}


.your-accordion-navigation-class {
  @include accordion-navigation($bg:red, $hover-bg:red);
}



//  Mixin: accordion-navigation( $bg, $hover-bg, $active-bg, $padding, $active_class,  $font-color, $font-size, $font-family) {
//    @params $bg-color: [ color or string ]: Specify the background color for the navigation element
//    @params $hover-bg-color [ color or string ]: Specify the background color for the navigation element when hovered
//    @params $active-bg [ color or string ]: Specify the background color for the navigation element when clicked and not released.
//    @params $active_class [ string ]: Specify the class name used to keep track of which accordion tab should be visible
//    @params $font-color [ color or string ]: Color of the font for accordion
//    @params $font-size [ number ]: Specifiy the font-size of the text inside the navigation element
//    @params $font-family [ string ]: Specify the font family for the text of the navigation of the accorion





