body {
	background-color: #e5f4f7;
	color: #2c4f52;
	font-family: "kepler-std-extended", georgia, serif;
}
h1, h2, h3, h4, h5, h6 {
	color: #2c4f52;
}
h2 {
	text-align: center;
	font-family: "kepler-std-extended", georgia, serif;
	color: #fff;
	font-weight: 300;
	font-style: italic;
}
p{
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
	color: #8fba3e;
}
a:hover, a:focus {
	color: #568c49;
}

.logo, .logo h1 {
	background: url('../img/mpt-logo.png')center center no-repeat;
	display: block;
	text-indent: -9999em;
	width: 259px;
	height: 71px;
	position: relative;
	z-index: 200;
}
.mpt-side-nav {
	width: 300px;
	float: left;
	background-color: $clr-green-base;
	z-index: 200;
	position: absolute;
}
.mpt-content-area {
	float: left;
	background-color: $clr-yellow-base;
}
.row{
  &.full-width{
		max-width: 100% !important;
		z-index: 1;
		position: absolute;
		padding-left: 300px;
		box-sizing: border-box;
	}
}