{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Money, Politics and Transparency{% endblock %}</title>

		<link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/static/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/static/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">

		<!-- open graph tags -->
		<meta property="og:site_name" content="Money, Politics and Transparency">
		<meta property="og:locale" content="en_US">
		<meta property="og:image" content="http://moneypoliticstransparency.org/static/img/fb-mpt.png">
		<meta property="og:type" content="website">
		{% block og %}
			<meta property="og:url" content="http://data.moneypoliticstransparency.org/">
			<meta property="og:title" content="Integrity Indicator Scorecards">
			<meta property="og:description" content="Money, Politics and Transparency aims to generate research, analysis and global norms that civic organizations, elected officials, regulators and the media can use to build more transparent political financing systems in any country.">
		{% endblock %}

		<link rel="stylesheet" href="{% static 'css/app.css' %}">

		<script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
		<script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
		<script src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
		<script src="{% static 'foundation/js/foundation.min.js' %}"></script>

		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		<script type="text/javascript" src="//use.typekit.net/djk1gww.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body class="">
		<header>
			<div class="main-nav hide-for-small">
				<nav class="top-bar" data-topbar role="navigation">
						<div class="top-bar-section large-12 columns">
							<ul>
								<li class="logo"><a href="/"><h1>Money, Politics and Transparency</h1></a></li>
								<li><a href="http://moneypoliticstransparency.org/casestudies">Case Studies</a></li>
								<li><a class="active" href="#">Data</a></li>
								<li><a href="http://moneypoliticstransparency.org/resources">Resources</a></li>
								<li><a href="http://moneypoliticstransparency.org/norms">Norms</a></li>
								<li><a href="http://moneypoliticstransparency.org/networking">Networking</a></li>
							</ul>
							<ul class="meta-nav">
								<li><a href="http://moneypoliticstransparency.org/about">about</a></li>
								<li><a href="http://moneypoliticstransparency.org/contact">contact</a></li>
							</ul>
						</div>
				</nav>
			</div>
		</header>
		<div class="mpt-side-nav">
			<ul class="tabs" data-tab>
			  <li class="tab-title {% if not country %}active{% endif %}"><a href="#panel1">Indicators</a></li>
			  <li class="tab-title {% if country %}active{% endif %}"><a href="#panel2">Countries</a></li>
			</ul>
			<div class="tabs-content">
				<div class="nav-indicators content {% if not country %}active{% endif %}" id="panel1">
					<form class="search">
					    <!--  <label>Search Documentation</label> -->
					    <input id="autocomplete" type="search" placeholder="Search indicators" autocomplete="off">
					    <button></button>
					</form>

					<a class="expand-all"><span>expand-icon</span>Expand All</a>


					<ul class="side-nav accordion" data-accordion>
					  {% for s in sections %}
						  <li class="accordion-navigation">
						    <a class="expand" href="#nav-{{ s.number }}">expand button!</a>
						    <div class="section">
						    	<a href="{% url 'scorecard_section' s.number %}">{{ s.name }}</a>
						    </div>


						    <div id="nav-{{ s.number }}" class="content {% if section and section.number == s.number %}active{% endif %}{% if not section and s.number == 1 %}active{% endif %}">
						    	<ul class="accordion" data-accordion>
						    		{% for ss in s.subsections.all %}
							    		<li class="accordion-navigation">
								    		<a class="expand" href="#nav-{{ s.number }}-{{ ss.number }}">expand button!</a>
								    		<div class="section">
												<a href="{% url 'scorecard_subsection' s.number ss.number %}">{{ ss.name }}</a>
											</div>
								    		<div id="nav-{{ s.number }}-{{ ss.number }}" class="content {% if subsection and subsection.number == ss.number %}active{% endif %}{% if not section and ss.number == 1 %}active{% endif %}">
								     			<ul>
								     				{% for indicator in ss.indicators.all %}
								     					<li>
								     						<a href="{% url 'scorecard_indicator' indicator.number %}">
								     							<span class="indicator-num">{{ indicator.number }}</span> {{ indicator.name }}
								     						</a>
								     					</li>
								     				{% endfor %}
								     			</ul>
								    		</div>
								  		</li>
								  	{% endfor %}
						    	</ul>
						    </div>
						  </li>
					  {% endfor %}
					</ul>
				</div>
				<div class="nav-country content {% if country %}active{% endif %}" id="panel2">
					<ul>
						{% for country in countries %}
							<li><a href="{% url 'scorecard_country' country.code %}">{{ country.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="meta-nav-indicators">
				<h3>Learn more</h3>
				<ul>
					<li><a href="{% url 'scorecard_methodology' %}">Methodology</a></li>
					<li><a href="{% url 'scorecard_contributors' %}">Contributors</a></li>
					<li><a href="{% url 'scorecard_faq' %}">FAQ</a></li>
					<li><a class="download" href="">Download PDF Analysis</a></li>
				</ul>
                <ul class="partner-logos">
                    <li>
                        <a href="http://www.globalintegrity.org/"><img src="../../static/img/global-integrity-logo.png"></a>
                    </li>
                    <li>
                        <a href="http://sunlightfoundation.com/"><img src="../../static/img/sunlight-foundation-logo.png"></a>
                    </li>
                    <li>
                        <a href="http://www.electoralintegrityproject.com/"><img src="../../static/img/electoral-integrity-logo.png"></a>
                    </li>
                </ul>
			</div>
			{% block sidebar %}{% endblock %}
		</div>
		<div class="mpt-content-area row full-width title ">
            <div class="small-12 columns">
                <div class="page-header">
                    <div class="row">
                        <div class="small-9 columns alpha">{% block pagetitle %}{% endblock %}</div>
                        <div class="small-3 columns social-share">
                            <ul class="share">
                                <li class=""><a href="https://twitter.com/intent/tweet?related=MPTransparency&amp;url={{ "http://moneypoliticstransparency.org"|urlencode }}&amp;text={{ ".@MPTransparency seeks to improve global political finance transparency. Join the conversation! #MPTransparency"|urlencode }}" class="small button twitter">Share</a></li>
                                <li class=""><a href="#" class="small button facebook">Like</a></li>
                                <li class=""><a href="#" class="small button email">Send</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        <div class="mpt-content-area row full-width">
            <div class="small-12 columns">
		     	<div class="page-content">

		     	</div>
            </div>
		</div>
		{% endblock %}
		<script>
		  $(document).foundation();
		</script>
		<script>
			$(document).foundation({
			  accordion: {
			    // specify the class used for accordion panels
			    content_class: 'content',
			    // specify the class used for active (or open) accordion panels
			    active_class: 'active',
			    // allow multiple accordion panels to be active at the same time
			    multi_expand: true,
			    // allow accordion panels to be closed by clicking on their headers
			    // setting to false only closes accordion panels when another is opened
			    toggleable: true
			  }
			});
			$(document).ready(function() {
				$('a.expand-all').click(function(ev) {
					ev.preventDefault();
					$('li.accordion-navigation div.content').addClass('active');
				})
			});
		</script>
		{% block js %}{% endblock %}
	</body>
</html>
