{% extends "scorecard/base.html" %}

{% block sidebar %}
{% endblock %}
{% block pagetitle %}<span class="indicator-num"></span>  <h2 class="alpha">Project Contributors</h2>{% endblock %}

{% block content %}

<div class="mpt-content-area row full-width index">
    <div class="small-12 columns">
        <div class="page-content">
            <div class="row">
                <div class="columns small-12 contributors">

					<h3>Researchers</h3>
					<div class="row">
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Inesa Hila</li>
							<li>Maria Rosario Pavese</li>
							<li>Alan Wolfe</li>
							<li>Mathias Huter</li>
							<li>Shazada Akram</li>
							<li>Jef Smulders</li>
							<li>Diego Ayo</li>
							<li>Ivana Koralijic</li> 
							<li>Ntibinyane Ntibinyane</li>
							<li>Natalia Paiva</li>
							<li>Ekaterina Rashkova</li>
							<li>Jeannette von Wolfersdorff</li>
							<li>Sandra Ximenes Martinez Rosas</li>
							<li>Eduardo Nunez</li>
						</ul>
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Martina Topic</li>
							<li>Veronica Alvarez</li>
							<li>Irine Urushadze</li>
							<li>Anne-Christine Wegener</li>
							<li>Franklin Oduro</li>
							<li>Sandor Lederer</li>
							<li>Madhumita Datta Mitra</li>
							<li>Danang Widoyoko</li>
							<li>Tomer Avital</li>
							<li>Daniela Picco</li>
							<li>Masayoshi Kuboya</li>
							<li>Kennedy Masime</li>
							<li>John Power</li>
							<li>Elsy Melkonian</li>
						</ul>
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Augustine Magolowondo</li>
							<li>Joseph Tong</li>
							<li>Rocio Moreno Lopez</li>
							<li>Ini Ekott</li>
							<li>Zahid Abdulla</li>
							<li>Lina Antara</li>
							<li>Jazmin Acuna</li>
							<li>Caroline Gibu</li>
							<li>Che de los Reyes</li>
							<li>Adam Sawicki</li>
							<li>Sergiu Ghergina</li>
							<li>Boris Demidov</li>
							<li>Ignatius Ssuna</li>
							<li>Maja Sandic</li>
						</ul>
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Alenka Krasovec</li>
							<li>Alan Agassi</li>
							<li>Gary Pienaar</li>
							<li>Dissanayake Dasnayaka Mudiyanselage</li>
							<li>Ann-Kristin Kölln</li>
							<li>Hanna Hindstrom</li>
							<li>Josh Drayton</li>
							<li>Omer Faruk Genckaya</li>
							<li>Linnea Mills</li>
							<li>Marina Mas</li>
							<li>Angel Alvarez</li>
						</ul>
					</div>
					<h3>Peer Reviewers</h3>
					<div class="row">
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Aranita Brahaj</li>
							<li>Delia Ferreira Rubio</li>
							<li>Norm Kelly</li>
							<li>Hubert Sickinger</li>
							<li>Tanvir Mahmud</li>
							<li>Jean Faneil</li>
							<li>Miguel Centellas</li>
							<li>Drazen Simic</li>
							<li>Sonny Serite</li>
							<li>Sergio Praca</li>
							<li>Rumen Stefanov</li>
							<li>Emilio Moya</li>
							<li>Andres Schipani</li>
							<li>Diego Padilla</li>
						</ul>
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Zorislav Antun Petrovic</li>
							<li>Carolina Curvale</li>
							<li>Tinatin Ninua</li>
							<li>Daniel Dietrich</li>
							<li>Sef Ashiagbor</li>
							<li>Balasz Romhanyi</li>
							<li>Nivell Rayda</li>
							<li>Assaf Shapira</li>
							<li>Eugenio Pizzimenti</li>
							<li>Moses Owuor</li>
							<li>Samuel Kimeu</li>
							<li>Kyung Park</li>
							<li>Ghassan Elbitar</li>
							<li>Collins Mtika</li>
						</ul>
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Terence Gomez</li>
							<li>Fransje Molenaar</li>
							<li>Victor Adetula</li>
							<li>Zahid Ahmed</li>
							<li>Richard Morales</li>
							<li>Osmar Gomez</li>
							<li>Samuel Rotta</li>
							<li>Joy Aceron</li>
							<li>Fernando Casal Bertoa</li>
							<li>Sorina Soare</li>
							<li>Alisa Voznaya</li>
							<li>Victor Nkindi</li>
							<li>Lazar Maricevic</li>
						</ul>
						<ul class="medium-6 large-3 columns no-bullet">
							<li>Transparency International Slovenia</li>
							<li>Marcus Pelto</li>
							<li>Collette Herzenberg</li>
							<li>Paikiasothy Saravanamuttu</li>
							<li>Magnus Ohman</li>
							<li>Ann-Marie Bissessar</li>
							<li>Seda Kirdar</li>
							<li>Thomas Warren</li>
							<li>Robert Boatright</li>
							<li>Richard Briffault</li>
							<li>Mariana Rethen</li>
							<li>Luis Gomez Calcano</li>
						</ul>
					</div>
					<h3>Money, Politics, and Transparency Reference Group</h3>
					<ul class="small-12 columns no-bullet">
						<li>Sarah Birch</li>
						<li>Finn Heinrich</li>
						<li>Sam Jones</li>
						<li>Richard Katz</li>
						<li>Sheila Krumholtz</li>
						<li>Vincent Lazatin</li>
						<li>Fernando Straface</li>
						<li>Bill Sweeney</li>
						<li>Andreas Ufen</li>
						<li>Henni van Vuuren</li>
					</ul>

					<h3>Global Integrity Research Team</h3>
					<ul class="small-12 columns no-bullet">
						<li>Hazel Feigenblatt, Managing Director, Research</li>
						<li>Johanness Tonn, Manager, Research</li>
						<li>Michael Moses, Manager, Research</li>
						<li>Scott Rumpsa, Manager, Research</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}