{% extends "scorecard/base.html" %}
{% load md2 %}
{% load scorecard_tags %}

{% block og %}
	<meta property="og:url" content="http://data.moneypoliticstransparency.org{% url 'scorecard_country' country.code %}">
	<meta property="og:title" content="{{ country.name }} Scorecard">
	<meta property="og:description" content="Money, Politics and Transparency aims to generate research, analysis and global norms that civic organizations, elected officials, regulators and the media can use to build more transparent political financing systems in any country.">
{% endblock %}

{% block pagetitle %}<h2 class="alpha">{{ object.name }}</h2>{% endblock %}

{% block content %}

<div class="mpt-content-area row full-width index">
	<div class="small-12 columns">
		<div class="page-content">
			<div class="row">
				<div class="columns small-8">
					<div class="country-score {% score_class country.aggregate_score %}">
						<dl class="score composite">
						<dt>composite</dt>
						<dd>{{ country.aggregate_score }}</dd>
						</dl>
						<div class="country-meta clearfix">
							<span class="chart">
				                <span class="count">{{ country.aggregate_score }}</span>
				                <span class="index" style="width: {{ country.aggregate_score }}%"></span>
				                <span class="ticks"></span>
				            </span>

				            <h4>{{ country.name }}</h4>
				            <dl class="breakdown">
				            	<dt>In law</dt>
				            	<dd><span class="score {% score_class country.in_law_score %}">{{ country.in_law_score }}</span></dd>
				            	<dt>In practice</dt>
				            	<dd><span class="score {% score_class country.in_practice_score %}">{{ country.in_practice_score }}</span></dd>
				            </dl>
			            </div>
					</div>
					<div class="country-summary">
						{{ country.findings|markdown }}
					</div>

				</div>
				<div class="columns small-4">
					<aside class="aside-content-block meta-nav-indicators">
						<h3>Learn more</h3>
						<ul>
							<li><a class="icon download" href="{% url 'scorecard_country_data' country.code %}">Download data</a></li>
							<li><a class="icon country-details" href="https://www.globalintegrity.org/research/{{ country.gi_name }}/">Country details</a></li>

						</ul>
					</aside>
				</div>
			</div>
			<div class="row">
				<div class="columns small-12">

					<ul class="tabs" data-tab>
						  <li class="tab-title active"><a href="#indicators">Indicators</a></li>
						  <li class="tab-title"><a href="#summary">Electoral System Summary</a></li>
						</ul>
						<div class="tabs-content">
							<div class="country-indicators content active" id="indicators">
								<ul class="accordion" data-accordion>
									{% regroup object.indicator_scores.all by indicator.subsection.section as section_list %}
									{% for section in section_list %}
									  {% section_agg country section.grouper as section_score %}
									  <li class="accordion-navigation">
										<a class="expand" href="#panel-{{ section.grouper.number }}">expand button!</a>
										<div class="section {% score_class section_score.score %}">
											<h4>{{ section.grouper.name }}</h4>
											<a href="{% url 'scorecard_section' section.grouper.number %}">More about category</a>
											<dl class="composite score">
												<dt>composite</dt>
												<dd>{{ section_score.score }}</dd>
											</dl>
											<!--
											<dl class="breakdown">
								            	<dt>In law</dt>
								            	<dd><span class="score two">23</span></dd>
								            	<dt>In practice</dt>
								            	<dd><span class="score four">56</span></dd>
								            </dl>
								            -->
							            </div>
									    <div id="panel-{{ section.grouper.number }}" class="content">
										    <ul class="accordion" data-accordion>
										      	{% regroup section.list by indicator.subsection as subsection_list %}
										      	{% for subsection in subsection_list %}
										      		<li class="accordion-navigation">

														<a class="expand" href="#panel-{{ section.grouper.number }}-{{ subsection.grouper.number }}">expand button!</a>
														<div class="section">
											    			<h5>{{ subsection.grouper.name }}</h5>
											    			<a href="{% url 'scorecard_subsection' section.grouper.number subsection.grouper.number %}">More about category</a>
											    		</div>
											    		<div id="panel-{{ section.grouper.number }}-{{ subsection.grouper.number }}" class="indicator content ">
												    		<ul class="accordion" data-accordion>
													      		{% for indicator_score in subsection.list %}
													      			<li class="accordion-navigation" id="indicator_{{indicator_score.indicator.number}}">
													      				<a class="expand" href="#panel-ind{{ indicator_score.indicator.number }}">expand button!</a>
														                <div class="section clearfix">
															                <span class="indicator-num">{{ indicator_score.indicator.number }}</span>
															                <dl>
														                    	<dt class="text-replace">
														                    		Score
														                    	</dt>
														                    	<dd>
														                    	{% if indicator_score.score == None %}
														                    		--
														                    	{% else %}
														                    		{{ indicator_score.score }}
														                    	{% endif %}
														                    	</dd>
														                    </dl>
													                   	 	<h6>{{ indicator_score.indicator.name }}<a href="{% url 'scorecard_indicator' indicator_score.indicator.number %}">More about indicator</a></h6>
														                </div>
													                    <div id="panel-ind{{ indicator_score.indicator.number }}" class="content ">
														                    <div class="comment">
															                    {{ indicator_score.comment|markdown }}
														                    </div>
														                    <div class="row sub-content">
													                    	<div class="criteria large-6 columns">
													                    		<h6>Scoring Criteria</h6>
													                    		<p>A YES score is earned where there is direct public funding for both political parties and individual candidates to campaign. A 100 also applies where only one of the two actors can be elected and, therefore, only one is entitled to direct public funding.</p>

																				<p>A MODERATE score is earned where per law only one of the two actors (either political parties or individual candidates) is allocated direct public funding to campaign, even though both can be elected.</p>

																				<p>A NO score is earned where no such law exists.</p>
													                    	</div>
														                    <div class="sources large-6 columns">
														                    	<h6>Sources</h6>
														                    	{{ indicator_score.sources|markdown }}
														                    </div>
														                    </div>
														                </div>
													                </li>
										        				{% endfor %}

															</ul>
									    				</div>
													</li>
												{% endfor %}
											</ul>
										</div>
									{% endfor %}
								</div>
								<div class="electoral-summary content" id="summary">
									{{ country.electoral_summary|markdown }}
								</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}