{% extends "scorecard/base.html" %}

{% block sidebar %}
{% endblock %}
{% block pagetitle %}<span class="indicator-num"></span>  <h2 class="alpha">Project Contributors</h2>{% endblock %}

{% block content %}

<div class="mpt-content-area row full-width index">
    <div class="small-12 columns">
        <div class="page-content">
            <div class="row">
                <div class="columns small-12">

					<h3>What are the MPT Campaign Finance Indicators?</h3>
					<p>The Money, Politics, and Transparency (MPT) Campaign Finance Indicators mobilized a highly qualified global network of more than 110 political finance experts from academia, journalism, and civil society to generate rich, comparative, country-level data on the transparency and effectiveness of political finance regimes across the world.  A rigorous cross-national survey, MPT examines both the de jure legislation regulating political finance and the de facto implementation of that legislation across 50 indicators and five issue areas fundamental to campaign finance regulatory systems.</p>

					<h3>What is an MPT Scorecard?  What aspects of political finance are covered in the MPT Campaign Finance Indicators?</h3>
					<p>An MPT Scorecard is a unique instrument designed to provide a thorough assessment of the existing political finance regime in a particular country.  The 50 indicators in each scorecard are used to “score” the national-level institutional frameworks in place to regulate money’s influence in politics on metrics of transparency, accountability, and practical enforcement.</p>

					<p>Each MPT country scorecard evaluates the regulation and enforcement of political finance across the following five categories and nine subcategories:</p>
					<ol class="num-list">
						<li>1. Direct and Indirect Public Funding
							<ol>
								<li>1.1 Direct Public Funding</li>
								<li>1.2 Indirect Public Funding</li>
							</ol>
						</li>
						<li>2. Contribution and Expenditure Restrictions
							<ol>
								<li>2.1 General Rules on Electoral Campaign Contributions</li>
								<li>2.2 Limits on Contribution and Expenditure during Electoral Campaign Periods</li>
							</ol>
						</li>
						<li>3. Reporting and Public Disclosure
							<ol>
								<li>3.1 Reporting Requirements to the Oversight Entity </li>
								<li>3.2 Availability of Electoral Campaigns’ Financial Information to the Public</li>
							</ol>
						</li>
						<li>4. Third-Party Actors
							<ol>
								<li>4.1 Applicability of the Law to Third-Party Actors</li>
							</ol>
						</li>
						<li>5. Monitoring and Enforcement
							<ol>
								<li>5.1 Monitoring Capabilities</li>
								<li>5.2 Enforcement Capabilities</li>
							</ol>
						</li>
					</ol>

					<h3>How are the MPT Campaign Finance Indicators different from other comparative assessments of political finance?</h3>
					<p>There are extensive data repositories already in existence that document the laws and legal mechanisms regulating country-level political finance.  Most notable among these is the International IDEA Political Finance Database, an invaluable resource for comparing the variety of legal regulations in place in different countries.  Existing data, however, focuses exclusively on de jure legal frameworks, and does not address the extent to which those frameworks are de facto regulated, or the outcomes they generate.  The MPT research fills this gap, providing exceptionally granular, evidence-based information on both relevant legal instruments and the efficacy of enforcement in 54 countries across the world.</p>

					<p>By measuring the scope of the legal framework and assessing on-the-ground realities of political finance systems, and doing so systematically and comparatively, the MPT research delivers a detailed, comprehensive assessment of the role of money in politics, especially during campaigns.</p>

					<h3>What are the data sources for MPT?</h3>
					<p>Each MPT country scorecard was thoroughly researched, written, and reviewed by local experts familiar with the nuance and complexity of domestic political finance systems.  The expertise of researchers and reviewers, and their expansive network of contacts within the country ensures that the data collected is accurate, highly relevant, and founded on pertinent research.  As a result, the MPT research is contextually rich and firmly anchored in on-the-ground realities.  original research conducted by locally based experts, managed by Global Integrity.  Data sources include original interviews with experts, information requests, newspaper and academic reports, and relevant laws and regulations on the books in a given country.  All data sources are current within the timespan January 2013 - July 2014, or in reference to the most recent national level elections.  These dates comprise the period of research for MPT.</p>

					<h3>How should I understand MPT scores?  How does scoring work?</h3>
					<p>43 of the indicators in an MPT scorecard are given quantitative scores.  Possible scores for in law (de jure) indicators are 100 (Yes), 50 (Moderate), and 0 (No).  For in practice (de facto) indicators, 100, 75, 50, 25, and 0 are the available score choices.  In every case, chosen scores correspond to rigorously defined scoring conditions, making scores broadly comparable across countries.  Each indicator is thus standardized on a scale from 100 (high) to 0 (low).</p>

					<p>Individual indicator scores are aggregated at the subsection and section level to generate subsection and section scores for each country scorecard.  Aggregate subsection scores are the average of all the indicator scores within that subsection, and section scores are the average of the relevant subsection scores.  This means that each subsection is weighted equally in the creation of overall section scores.</p>

					<p>Each country scorecard also receives an overall aggregate score, which is the average of all five section aggregate scores.  As such, each section is equally weighted.  Note that overall aggregate scores are very limited in their usefulness -- their generality is such that they provide little information about the contextual strengths and weaknesses of a given political finance system.  Referring to section and subsection scores, and to individual indicator scores, as well as the explanatory comments included with each indicator, will be of much more use for practitioners and reformers hoping to better understand the nuances of political finance regulation and enforcement at the country level.</p>

					<p>Countries also receive in law aggregate and in practice aggregate scores.  In each case, the aggregate is the unweighted average of all relevant indicators across the scorecard.</p> 

					<h3>How should I use the MPT dataset?</h3>
					<p>Each MPT Campaign Finance Scorecard provides a richly detailed country level snapshot of the particulars of campaign finance regulation and enforcement.  To best understand the characteristics and context of campaign finance systems, users of the data should make sure to go beyond aggregate scores.  The explanatory comments on each indicator illustrate the rich, contextual nature of political finance systems, and readers should always refer to the comments and sources in order to best understand the full range of information presented within a country scorecard. </p>

					<p>Data users should use caution when comparing aggregated scores on MPT scorecards.  Individual indicators are comparable, as are section and subsection scores, to some extent.  Overall scores, however, though useful for understanding the broad sweep of a country’s campaign finance system, are too reductive to yield a great deal of information likely to be of use for reformers or policy makers.  GI highly recommends that readers reference indicator comments and sources, and that they pay special attention to open text indicators.</p>

					<h3>Why is there no MPT Campaign Finance Index?</h3>
					<p>As explained above, an index based on country level aggregate scores would be reductive, failing to emphasize the strongest point of the MPT dataset, which is to give readers and users a strong understanding of the relative areas of strengths and weaknesses within a given country.  Data users can use the tool on the main landing page of this website to sort countries by their aggregate scores.  When doing so, however, they should also make sure to refer to section and subsection scores, and to carefully read through the comments on each indicator.  In doing so, they will better grasp the particular “pain points” of a country’s system, and be better able to assess which areas of the political finance system are subject to abuse or violation, and which areas should be the subject of potential reforms.</p>

					<h3>Are scores comparable across countries?</h3>
					<p>Individual indicator scores are generally comparable, as are section and subsection scores to a lesser extent, but overall aggregate scores should not be compared, as explained above.  Even at the indicator level, for a fuller understanding of existing laws and the enforcement within a country system, readers should always refer to the comments attached to each indicator.  In almost all cases, explanatory comments and the sources upon which they are based yield more actionable, useful information than simple quantitative scores.  Indeed, when viewed separate from the context provided in the explanatory comment and sources, quantitative scores may be misleading.</p>

					<h3>Do you have further questions?</h3>
					<p>For more information on the MPT Campaign Finance Indicators, please refer to other sections of this website, or contact Global Integrity via email at hazel.feigenblatt@globalintegrity.org.</p>

				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
