{% extends "scorecard/base.html" %}
{% load staticfiles %}
{% load pages_tags %}
{% load scorecard_tags %}

{% block sidebar %}
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block content %}
<div class="mpt-content-area row full-width index">
    <div class="small-12 columns map-intro">
		<div class="map-content">
			<img src="{% static 'img/map.svg' %}">
			<div class="map-notes">
				<div class="fact-one">
					<p>Each country scorecard consists of <span class="highlight">50</span> indicator questions.</p>
				</div>
				<div class="fact-two">
					<p class="text1"><span class="highlight">54</span> countries</p>
					<p class="text2">The MPT research covered a diverse array of countries <br>across the world.</p>
				</div>
				<div class="fact-three">
					<p class="text1">There are 3<br> types of indicators: <br>de jure, de facto <br>and open text.</p>
					<p class="text2">Each country scorecard assesses the regulation and enforcement of political finance.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="small-12 columns">
		<div class="page-content">
			<div class="row intro-text">
				<div class="columns large-4">
					{% chunk 'home-indicators' %}
				</div>
				<div class="columns large-4">
					{% chunk 'home-methodology' %}
				</div>
				<div class="columns large-4">
					{% chunk 'home-results' %}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<aside class="aside-content-block meta-nav-indicators inline">
						<h3>Learn more</h3>
						<ul>

							<li><a href="{% url 'scorecard_methodology' %}">Methodology</a></li>
							<li><a href="{% url 'scorecard_contributors' %}">Contributors</a></li>
							<li><a href="{% url 'scorecard_faq' %}">FAQ</a></li>
							<li><a class="icon download" href="http://assets.sunlightfoundation.com.s3.amazonaws.com/mpt/MPT%20-%20Campaign%20Finance%20Indicators%20Key%20Findings.pdf">Download PDF analysis</a></li>

						</ul>
					</aside>
				</div>
			</div>

			<div class="row">
				<div class="columns small-8  indicator-scores">
					<h3 id="indicator-scores">Indicator Scores</h3>
                    <form>
                        <select name="o">
                            <option value="name_asc" {% if not ordering or ordering == 'name_asc' %}selected{% endif %}>Country A-Z</option>
                            <option value="name_desc" {% if ordering == 'name_desc' %}selected{% endif %}>Country Z-A</option>
                            <option value="score_asc" {% if ordering == 'score_asc' %}selected{% endif %}>Score 0-100</option>
                            <option value="score_desc" {% if ordering == 'score_desc' %}selected{% endif %}>Score 100-0</option>
                        </select>
                    </form>
                    <ul class="clearfix">
                    	{% for country in indicator_countries %}
                        	<li>
                                <div class="country-score {% score_class country.aggregate_score %}">
                                    <dl class="score composite">
                                    <dt class="text-replace">composite</dt>
                                    <dd>{% if country.aggregate_score == None %}--{% else %}{{ country.aggregate_score }}{% endif %}</dd>
                                    </dl>
                                    <div class="country-meta clearfix">
                                        <span class="chart">
                                            <span class="count">{{ country.aggregate_score }}</span>
                                            <span class="index" style="width: {{ country.aggregate_score_for_chart }}%"></span>
                                            <span class="ticks"></span>
                                        </span>

                                        <h4><a href="{% url 'scorecard_country' country.code %}">{{ country.name }}</a></h4>
                                        <dl class="breakdown">
							            	<dt>In law</dt>
							            	<dd><span class="score {% score_class country.in_law_score %}">{{ country.in_law_score }}</span></dd>
							            	<dt>In practice</dt>
							            	<dd><span class="score {% score_class country.in_practice_score %}">{{ country.in_practice_score }}</span></dd>
							            </dl>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
					</ul>
				</div>
				<div class="columns small-4">
					<aside class="aside-content-block">
						<h3>Understanding a Country’s Scores</h3>
						<p>
							Scorecards are divided into five sections:
						</p>
						<ul class="">
							<li>Direct and Indirect Public Funding during Campaigns</li>
							<li>Restrictions on Contribution and Expenditure</li>
							<li>Reporting Requirements and Public Disclosure</li>
							<li>Third-Party Actors</li>
							<li>Monitoring and Enforcement</li>
						</ul>
						<p>
							A country’s in law score is the unweighted average of the scores on all 23 de jure indicators in a country scorecard: It provides an indication of how stringently a country’s laws regulate political finance. The in practice score is the unweighted average of the scores on all 20 de facto indicators. This measure assesses practical enforcement within a country. The composite score is the average of all scores on a given country scorecard, weighted by each of the scorecard’s five sections.
						</p>
						<p>
							Note that quantitative scores fail to capture the scope of an indicator answer or full country scorecard, as do aggregated scores. Data users should always refer to the comments and sources in order to grasp what a given score or scores signify at the country level.
						</p>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function() {
			$('select[name=o]').change(function() {
				var path = window.location.pathname;
				window.location = path + '?o=' + this.value + '#indicator-scores';
			});
		});
	</script>
{% endblock %}
