{% extends "scorecard/base.html" %}

{% block content %}
    <p>
        <a href="{% url 'scorecard_section' object.subsection.section.number %}">{{ object.subsection.section.name }}</a>
        /
        <a href="{% url 'scorecard_subsection' object.subsection.section.number object.subsection.number %}">{{ object.subsection.name }}</a>
    <h1>{{ object.number }}. {{ object.name }}</h1>
    <ul>
        {% for indicator_score in object.indicator_scores.all %}
            <li>
                <a href="{% url 'scorecard_country' indicator_score.country.slug %}">{{ indicator_score.country }}</a>
                {{ indicator_score.score }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}