{% extends "scorecard/base.html" %}
{% load md2 %}
{% load scorecard_tags %}

{% block og %}
	<meta property="og:url" content="http://data.moneypoliticstransparency.org{% url 'scorecard_indicator' indicator.number %}">
	<meta property="og:title" content="Indicator {{ indicator.number }}: {{ indicator.name }}">
	<meta property="og:description" content="Money, Politics and Transparency aims to generate research, analysis and global norms that civic organizations, elected officials, regulators and the media can use to build more transparent political financing systems in any country.">
{% endblock %}

{% block pagetitle %}<span class="indicator-num">{{ indicator.number }}.</span>  <h2 class="alpha"> {{ indicator.header }} <span>{{ indicator.subheader }}</span></h2>{% endblock %}

{% block content %}
<div class="mpt-content-area row full-width index">
    <div class="small-12 columns">
        <div class="page-content">
            <div class="row">
                <div class="columns small-8 indicator-scores">
                    <h3>Indicator Scores</h3>
                    <form>
                        <select name="o">
                            <option value="name_asc" {% if not ordering or ordering == 'name_asc' %}selected{% endif %}>Country A-Z</option>
                            <option value="name_desc" {% if ordering == 'name_desc' %}selected{% endif %}>Country Z-A</option>
                            <option value="score_asc" {% if ordering == 'score_asc' %}selected{% endif %}>Score 0-100</option>
                            <option value="score_desc" {% if ordering == 'score_desc' %}selected{% endif %}>Score 100-0</option>
                        </select>
                    </form>
                    <ul class="clearfix">
                        {% for indicator_score in indicator_scores %}
                        	{% with indicator_score.country as country %}
	                            <li>
	                                <div class="country-score {% score_class indicator_score.score %}">
	                                    <dl class="score composite">
	                                    <dt class="text-replace">composite</dt>
	                                    <dd>{% if indicator_score.score == None %}--{% else %}{{ indicator_score.score }}{% endif %}</dd>
	                                    </dl>
	                                    <div class="country-meta clearfix">
	                                        <span class="chart">
	                                            <span class="count">{{ indicator_score.score }}</span>
	                                            <span class="index" style="width: {{ indicator_score.score }}%"></span>
	                                            <span class="ticks"></span>
	                                        </span>

	                                        <h4><a href="{% url 'scorecard_country' country.code %}?expand=true#indicator_{{ indicator_score.indicator.number }}">{{ country.name }}</a></h4>
	                                    </div>
	                                </div>
	                            </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="columns small-4">
                    <aside class="aside-content-block meta-nav-indicators inline">
                        <a class="icon download" href="{% url 'scorecard_methodology' %}">Download PDF analysis</a>
                    </aside>
                    <aside class="aside-content-block meta-nav-indicators">
                        <h3>Scoring Criteria</h3>
                        <div class="sub-content">
                            <p>
                                Narrative results can be viewed on country pages for scoreless indicators.
                            </p>
                        </div>
                        {{ indicator.criteria|markdown }}
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function() {
			$('select[name=o]').change(function() {
				var path = window.location.pathname;
				window.location = path + '?o=' + this.value;
			});
		});
	</script>
{% endblock %}