{% extends "scorecard/base.html" %}

{% block sidebar %}
{% endblock %}

{% block pagetitle %}<span class="indicator-num"></span>  <h2 class="alpha">Methodology</h2>{% endblock %}

{% block content %}

<div class="mpt-content-area row full-width index">
    <div class="small-12 columns">
        <div class="page-content">
            <div class="row">
                <div class="columns small-12">

					<p>The Money, Politics, and Transparency (MPT) Campaign Finance Indicators mobilized a highly qualified global network of more than 110 political finance experts from academia, journalism, and civil society to generate rich, comparative, country-level data on the transparency and effectiveness of political finance regimes across the world. A rigorous cross-national survey, MPT examines both the de jure legislation regulating political finance and the de facto implementation of that legislation.</p> 

					<p>In an iterative process dating from March to June 2014, Global Integrity, Sunlight Foundation, and the Electoral Integrity Project worked in close consultation with a carefully selected reference group of political finance experts to develop a concise set of 50 indicator questions, which were compiled into a comparative country scorecard. The project partners also selected an economically, politically, and regionally diverse sample of 54 countries in which to apply the scorecard. The selection process, though not randomized, ensures that MPT reflects the exceptional variety characterizing the range of political finance systems across the world.</p>

					<p>The MPT scorecard evaluates the key components of effective political finance regimes, including the regulation of direct and indirect public funding, limits on contributions and expenditure, reporting and public disclosure, the regulation of third party actors, and monitoring and enforcement. Researched scorecards account for both the existing legal particulars of each of these issue areas and the de facto realities of practical implementation in each country.</p>

					<p>MPT delves into critical aspects of political finance by examining not only what laws are on the books, but also whether and how those laws are effectively enforced. The combination of rigorously selected quantitative scores and detailed, evidence-based explanations supporting those scores, in addition to the inclusion of a number of non-scored, open-text questions that provide additional, context-specific detail, make the MPT indicators a rich source of granular information for interested stakeholders, policy makers, and reformers. As such, the MPT data can serve as a useful resource for crafting more transparent, accountable political finance systems.</p>

					<p>For more information on the methodology behind the MPT Campaign Finance Indicators, please see the detailed Methodology download.</p>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
