{% extends "scorecard/base.html" %}
{% load pages_tags %}

{% block sidebar %}
{% endblock %}

{% block pagetitle %}<span class="indicator-num"></span>  <h2 class="alpha">Methodology</h2>{% endblock %}

{% block content %}

<div class="mpt-content-area row full-width index">
    <div class="small-12 columns">
        <div class="page-content">
            <div class="row">
                <div class="columns small-12">
                	{% chunk 'methodology' %}
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
