{% extends "scorecard/base.html" %}
{% load scorecard_tags %}
{% load md2 %}

{% block og %}
	<meta property="og:url" content="http://data.moneypoliticstransparency.org{% url 'scorecard_subsection' subsection.section.number subsection.number %}">
	<meta property="og:title" content="{{ subsection.name }}">
	<meta property="og:description" content="Money, Politics and Transparency aims to generate research, analysis and global norms that civic organizations, elected officials, regulators and the media can use to build more transparent political financing systems in any country.">
{% endblock %}

{% block pagetitle %}<h2 class="alpha">{{ object.name }}</h2>{% endblock %}

{% block content %}
<div class="mpt-content-area row full-width index">
    <div class="small-12 columns">
        <div class="page-content">
            <div class="row">
                <div class="columns small-8 indicator-scores">
                    <h3>Indicator Scores</h3>
                    <form>
                        <select>
                            <option value="husker">Alphabetically</option>
                            <option value="starbuck">Ascending</option>
                            <option value="hotdog">Descending</option>
                        </select>
                    </form>
                    <ul class="clearfix">
                    	{% for country in countries %}
                    		{% subsection_agg country object as agg %}
                    		<li>
                    			<div class="country-score {% score_class agg.score %}">
                                    <dl class="score composite">
                                    <dt class="text-replace">composite</dt>
                                    <dd>{% if agg.score == None %}--{% else %}{{ agg.score }}{% endif %}</dd>
                                    </dl>
                                    <div class="country-meta clearfix">
                                        <span class="chart">
                                            <span class="count">{{ agg.score }}</span>
                                            <span class="index" style="width: {{ agg.score }}%"></span>
                                            <span class="ticks"></span>
                                        </span>

                                        <h4><a href="{% url 'scorecard_country' country.code %}">{{ country.name }}</a></h4>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="columns small-4">
                    <aside class="aside-content-block meta-nav-indicators inline">
                        <a class="icon download" href="{% url 'scorecard_methodology' %}">Download PDF analysis</a>
                    </aside>
                    <aside class="aside-content-block meta-nav-indicators">
                        <h3>Key Findings</h3>
                        <p>
                            {{ object.section.findings|markdown }}
                        </p>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}