<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Money, Politics and Transparency</title>

		<link rel="apple-touch-icon" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="/static/icons/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="/static/icons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/static/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png">

		<!-- open graph tags -->
		<meta property="og:site_name" content="Money, Politics and Transparency">
		<meta property="og:locale" content="en_US">
		<meta property="og:image" content="http://moneypoliticstransparency.org/static/img/fb-mpt.png">
		<meta property="og:type" content="website">

		<link rel="stylesheet" href="../../static/css/app.css" />
		<link rel="stylesheet" href="/static/css/main.css" />


		<script src="/static/js/vendor/modernizr.js"></script>
		<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
		<script type="text/javascript" src="//use.typekit.net/djk1gww.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body class="">
		<header>
			<div class="main-nav hide-for-small">
				<nav class="top-bar">
						<div class="top-bar-section large-12 columns">
							<ul>
								<li><a href="/"><h1 class="logo">Money, Politics and Transparency</h1></a></li>
								<li><a href="/casestudies">Case Studies</a></li>
								<li><a href="/data">Data</a></li>
								<li><a href="/resources">Resources</a></li>
								<li><a href="/norms">Norms</a></li>
								<li><a href="/networking">Networking</a></li>
							</ul>
							<ul class="meta-nav">
								<li><a href="/about">about</a></li>
								<li><a href="/contact">contact</a></li>
								<li><a href="/logout">logout</a></li>
							</ul>
						</div>
				</nav>
			</div>
		</header>
		<div class="mpt-side-nav">
			<ul class="side-nav" role="navigation" title="Link List">
			   <li>Direct Public Funding
			   		<ul>
			   			<li><a href="">In law, there is direct public funding for electoral campaigns.</a></li>
			   			<li><a href="">In law, there is a transparent and equitable mechanism to determine direct public funding for electoral campaigns.</a></li>
			   			<li><a href="">In practice, to what extent is the mechanism to determine direct public funding for electoral campaigns transparent, equitable and consistently applied?</a></li>
			   			<li><a href="">In practice, to what extent does the entity in charge of public funding make disbursement information publicly available?</a></li>
			   		</ul>
			   </li>
			   <li>Indirect Public Funding
			   		<ul>
			   			<li><a href="">In law, use of state resources in favor of or against political parties and individual candidates is prohibited.</a></li>
			   			<li><a href="">In practice, to what extent are no state resources used in favor of or against political parties and individual candidates' electoral campaigns?</a></li>
			   			<li><a href="">In law, political parties and individual candidates have free or subsidized access to equitable air time for electoral campaigns?</a></li>
			   			<li><a href="">In practice, to what extent is free or subsidized access to air time provided in a transparent, equitable way to political parties and individual candidates for electoral campaigns?</a></li>
			   		</ul>
			   </li>
			   <li>2.1 General Rules on Electoral Campaign Contributions
			   		<ul>
			   			<li><a href="">In law, cash contributions are banned.</a></li>
			   			<li><a href="">In law, there is a ban on anonymous contributions.</a></li>
			   			<li><a href="">In law, in-kind donations to political parties and individual candidates must be reported.</a></li>
			   			<li><a href="">In law, loans to political parties and individual candidates must be reported.</a></li>
			   		</ul>
			   </li>
			   <li>Indirect Public Funding
			   		<ul>
			   			<li><a href="">In law, use of state resources in favor of or against political parties and individual candidates is prohibited.</a></li>
			   			<li><a href="">In practice, to what extent are no state resources used in favor of or against political parties and individual candidates' electoral campaigns?</li>
			   			<li><a href="">In law, political parties and individual candidates have free or subsidized access to equitable air time for electoral campaigns?</a></li>
			   			<li><a href="">In practice, to what extent is free or subsidized access to air time provided in a transparent, equitable way to political parties and individual candidates for electoral campaigns?</a></li>
			   		</ul>
			   </li>

			 </ul>

			<h3>a project of</h3>
			<ul class="partner-logos small-12 small-centered columns">
				<li>
					<a href="http://www.globalintegrity.org/"><img src="/static/img/global-integrity-logo.png"></a>
				</li>
				<li>
					<a href="http://www.electoralintegrityproject.com/"><img src="/static/img/electoral-integrity-logo.png"></a>
				</li>
				<li>
					<a href="http://sunlightfoundation.com/"><img src="/static/img/sunlight-foundation-logo.png"></a>
				</li>
			</ul>
		</div>
		<div class="mpt-content-area row full-width">
			<div class="xlarge-12 columns">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem tellus, condimentum a tempus vel, pellentesque eu ipsum. Aliquam leo felis, faucibus quis ex ut, sodales lacinia metus. Cras in nibh ante. Curabitur quis fringilla diam, vitae ullamcorper nulla. Curabitur condimentum neque quis lorem ullamcorper aliquet in et urna. Suspendisse nibh erat, iaculis convallis arcu at, viverra venenatis lacus. Sed id tortor a massa volutpat tempus.</p>

				<p>Nullam dapibus id ligula nec interdum. Cras aliquet mauris nec diam dignissim porta. Proin porttitor ut metus vitae ullamcorper. Aliquam vehicula sem non lorem laoreet, in varius eros iaculis. Cras consequat cursus orci, in lobortis justo tincidunt sit amet. Fusce blandit aliquam volutpat. Duis dolor neque, malesuada ut sagittis in, tempus at nibh. Ut vestibulum mi nec erat laoreet, viverra laoreet ligula sodales. Pellentesque a massa tortor. Praesent nunc dui, aliquet id libero ut, egestas suscipit urna. Proin in felis sagittis, egestas est eget, hendrerit augue.</p>

				<p>Fusce a turpis augue. Ut imperdiet sollicitudin dui, ac mollis ipsum pulvinar sit amet. Integer eu odio ac quam convallis venenatis. Sed molestie aliquam faucibus. Maecenas nec condimentum magna. Aenean sed elit tincidunt, tincidunt nunc non, posuere quam. Cras dapibus laoreet imperdiet. Donec ac est euismod, sodales nunc non, elementum arcu. Fusce lobortis, odio eu blandit dapibus, velit orci tincidunt dui, at laoreet velit mauris eget massa. Duis sed mi varius, efficitur justo quis, ultricies purus. Nullam vestibulum, nibh sit amet dictum suscipit, lorem turpis iaculis dolor, egestas accumsan risus ligula non dui. Suspendisse molestie vulputate metus, ac congue nisl mollis non. Nulla dictum bibendum erat, eu lobortis odio semper in. Duis ac sollicitudin nisi, at convallis nunc. Nunc eu ante sed nisi aliquam commodo sit amet at leo.</p>

				<p>Suspendisse faucibus blandit felis, id lobortis dui venenatis eu. Mauris volutpat massa ut turpis sollicitudin efficitur. Duis euismod accumsan augue et laoreet. Praesent pharetra risus neque, ullamcorper mollis tortor consequat cursus. Phasellus malesuada, dui quis vulputate hendrerit, mi nulla efficitur elit, id ullamcorper nulla tortor at mauris. Quisque accumsan gravida ante. Nullam vitae orci sollicitudin, semper elit quis, maximus diam. Nulla facilisi. Curabitur erat sapien, blandit eu dolor at, pretium vehicula elit. Proin efficitur at enim at egestas.</p>

				<p>Vivamus posuere gravida felis, ut accumsan dolor semper laoreet. Nullam commodo, leo vitae ornare rutrum, quam nulla semper velit, non tempor justo tellus at erat. Praesent gravida sagittis laoreet. Duis vehicula lacinia purus nec posuere. Duis tristique lobortis pellentesque. Mauris convallis urna erat, eget iaculis nunc aliquet vitae. Mauris semper magna odio, ut varius nisi iaculis a. Pellentesque porttitor condimentum felis, nec porttitor turpis cursus quis. Aenean ex libero, posuere eget diam non, euismod semper libero. Integer dapibus pharetra aliquam. Sed sit amet mi ac enim tristique bibendum et dapibus quam. Pellentesque semper vehicula massa in bibendum. Suspendisse vel luctus neque. Praesent vitae est nec sapien fringilla consequat. Cras feugiat elit nec orci hendrerit interdum. Aliquam scelerisque non tortor in fermentum.</p>
				<div class="page-header">
					<div class="row">
						<div class="social-share">
							<ul class="share">
								<li class=""><a href="https://twitter.com/intent/tweet?related=MPTransparency&amp;url={{ "http://moneypoliticstransparency.org"|urlencode }}&amp;text={{ ".@MPTransparency seeks to improve global political finance transparency. Join the conversation! #MPTransparency"|urlencode }}" class="small button twitter">Share</a></li>
								<li class=""><a href="#" class="small button facebook">Like</a></li>
							</ul>
						</div>
						<h2 class="small-7 medium-8 medium-centered columns">Title</h2>
					</div>
				</div>
			</div>

		</div>
				

	</body>
</html>